% import dcompiler;
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>D Compilers on Travis-CI</title>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 0.2em;
}
</style>
</head>

<body>
<p>
D Compilers Available on Travis-CI:

<table>
	<tr>
		<th>Type</th>
		<th>Version</th>
		<th>Front End</th>
	</tr>
	<% foreach(i, dc; var.dcompilers.get!(DCompiler[])) { %>
	<tr>
		<td><%= dc.type %></td>
		<td>v<%= dc.compilerVersion %></td>
		<td>v<%= dc.frontEndVersion %></td>
	</tr>
	<% } %>
</table>
</p>

</body>

</html> 
